[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:Online-Microservice-Store/client-gateway.git
[submodule "product-microservice"]
	path = product-microservice
	url = https://github.com/Online-Microservice-Store/product-microservice.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/Online-Microservice-Store/orders-microservice.git
[submodule "payments-microservice"]
	path = payments-microservice
	url = https://github.com/Online-Microservice-Store/payments-microservice.git
